<!-- Navbar Mobiel -->
<header>
  <div class="hamburger">
    <div class="bar bar-1"></div>
    <div class="bar bar-2"></div>
    <div class="bar bar-3"></div>
  </div>
  <ul class="mobileMenu">
    <li><a href="/">Home</a></li>
    <li><a href="/oorbellen">Oorbellen</a></li>
    <li><a href="/armbanden">Armbandjes</a></li>
    <li><a href="/tassen">Tassen</a></li>
    <li><a href="/waxmelts">Wax melts</a></li>
    <li><a href="/babyaccessoires">Baby accessoires</a></li>
  </ul>
  <!-- Einde Navbar Mobiel -->
  <!-- Navbar Desktop -->
  <ul class="desktopMenu">
    <li><a href="/">Home</a></li>
    <li class="dropdown">
      <a href="">Categorieën <i class="fas fa-caret-down"></i></a>

      <div class="dropdown__menu">
        <ul>
          <li><a href="/oorbellen">Oorbellen</a></li>
          <li><a href="/armbanden">Armbanden</a></li>
          <li><a href="/babyaccessoires">Baby-accessoires</a></li>
          <li><a href="/tassen">Tassen</a></li>
          <li><a href="/waxmelts">Wax Melts</a></li>
        </ul>
      </div>
    </li>
  </ul>
  <h2 class="logo">Anna's accessoires</h2>
  <ul class="img-list">
    <li>
      <input type="text" name="search" id="search" />
      <label for="search"><i class="fas fa-search"></i></label>
    </li>
    <li>
      <!-- Als sessie waar is ga naar dashboard als niet waar is laat hem inloggen -->
      <a href="/login"><i class="fas fa-user"></i></a>
    </li>
    <li>
      <a href="winkelmand"><i class="fas fa-shopping-cart"></i></a>
    </li>
  </ul>
</header>
<!-- Einde navbar mobiel  -->
