<!-- Navbar Mobiel -->
<header>
  <div class="hamburger">
    <div class="bar bar-1"></div>
    <div class="bar bar-2"></div>
    <div class="bar bar-3"></div>
  </div>
  <ul class="mobileMenu">
    <li><a href="/">Home</a></li>
    <li><a href="/oorbellen">Oorbellen</a></li>
    <li><a href="#">Armbandjes</a></li>
    <li><a href="#">Tassen</a></li>
    <li><a href="#">Wax melts</a></li>
    <li><a href="#">Baby accessoires</a></li>
  </ul>
  <!-- Einde Navbar Mobiel -->
  <!-- Navbar Desktop -->
  <ul class="desktopMenu">
    <li><a class="<%= path === '/' ? 'active' : '' %>" href="/">Home</a></li>
    <li><a class="<%= path === '/oorbellen' ? 'active' : '' %>" href="/oorbellen">Oorbellen</a></li>
    <li><a href="#">Over mij</a></li>
  </ul>
  <h2 class="logo">Anna's accessoires</h2>
  <ul class="img-list">
    <li>
      <input type="text" name="search" id="search" />
      <label for="search"><i class="fas fa-search"></i></label>
    </li>
    <li>
      <!-- Als sessie waar is ga naar dashboard als niet waar is laat hem inloggen -->
      <a href="/login"><i class="fas fa-user"></i></a>
    </li>
    <li>
      <a href="winkelmand"><i class="fas fa-shopping-cart"></i></a>
    </li>
  </ul>
</header>
<!-- Einde navbar mobiel  -->
