<div class="titel">
  <h2><%= pageTitle %></h2>
  <div class="dropbox">
    <label>Sorteren op:</label>
    <select class="oorbellen" name="oorbellen">
      <option value="rood" name="rood">Rood</option>
      <option value="groen">Groen</option>
      <option value="blauw">Blauw</option>
    </select>
  </div>
</div>

<div class="sorteren">
  <h3 class="items-gevonden">135 items gevonden</h3>
  <div class="desktop-knoppen">
    <button class="btn">Alles</button>
    <button class="btn non-active">Populair</button>
    <button class="btn non-active">Nieuw</button>
  </div>
</div>

<div class="desktop-flex">

  <div class="opties">
    <form action="/kleur" method="POST">
      <div class="optie-1">
        <label>Kleur:</label>
        <select onchange="this.form.submit()" name="kleur">
          <option value="alles" value="alles">Alles</option>
          <option name="rood" value="rood">Rood</option>
<<<<<<< HEAD
          <option value="groen" value="groen">Groen</option>
          <option value="blauw" value="blauw">Blauw</option>
=======
          <option name="groen" value="groen">Groen</option>
          <option name="blauw" value="blauw">Blauw</option>
>>>>>>> b9046d266f736a38c787044297d917ac1d76ab85
        </select>
      </div>
    </form>

    <!-- <div class="optie-2">
      <label>Maat:</label>
      <select name="kleur">
        <option value="alles">Alles</option>
        <option value="M">Medium</option>
        <option value="L">Large</option>
      </select>
    </div> -->

    <div class="optie-3">
      <label>Prijs:</label>
      <select name="prijs">
        <option value="alles">Alles</option>
        <option value="M">laag - hoog</option>
        <option value="L">hoog - laag</option>
      </select>
    </div>
  </div>

