<%- include('../includes/head.ejs')  %> 
    <link rel="stylesheet" href="../css/bestellingen.css"/>
</head>
<body>
    <%- include('../includes/navbar.ejs')  %> 
    <main>
        <div class="container">
            <div class="top-box">
                <h1>Bestellingen</h1>
            </div>
            <div class="left-box">
                <a href="/profiel"><i class="fas fa-user"></i><p>Account</p></a>
                <a href="/bestellingen" class="actieve"><i class="fas fa-shopping-basket"></i><p>Bestellingen</p></a>
                <a href="/logout"><i class="fas fa-power-off"></i><p>Uitloggen</p></a>
            </div>
            <div class="right-box">
                <div class="besteling-box">
                    <div class="top">
                        <p>Datum</p>
                        <p>Bedrag</p>
                        <p>Status</p>
                    </div>
                    <div class="bottom">
                        <div class="besteling">
                            <p>10-02-2021</p>
                            <p>247,65</p>
                            <p>Verzonden</p>
                        </div>
                        <div class="besteling">
                            <p>10-02-2021</p>
                            <p>247,65</p>
                            <p>Verzonden</p>
                        </div>
                        <div class="besteling">
                            <p>10-02-2021</p>
                            <p>247,65</p>
                            <p>Verzonden</p>
                        </div>
                        <div class="besteling">
                            <p>10-02-2021</p>
                            <p>247,65</p>
                            <p>Verzonden</p>
                        </div>
                        <div class="besteling">
                            <p>10-02-2021</p>
                            <p>247,65</p>
                            <p>Verzonden</p>
                        </div>
                        <div class="besteling">
                            <p>10-02-2021</p>
                            <p>247,65</p>
                            <p>Verzonden</p>
                        </div>
                        <div class="besteling">
                            <p>10-02-2021</p>
                            <p>247,65</p>
                            <p>Verzonden</p>
                        </div>
                        <div class="besteling">
                            <p>10-02-2021</p>
                            <p>247,65</p>
                            <p>Verzonden</p>
                        </div>
                        <div class="besteling">
                            <p>10-02-2021</p>
                            <p>247,65</p>
                            <p>Verzonden</p>
                        </div>
                        <div class="besteling">
                            <p>10-02-2021</p>
                            <p>247,65</p>
                            <p>Verzonden</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <%- include('../includes/footer.ejs')  %> 