<%- include('../includes/head.ejs')  %> 
    <link rel="stylesheet" href="../css/index.css" />
</head>
  <body>
    <%- include('../includes/navbar.ejs')  %> 
    <main>
      <!-- Hier begint de layout voor mobiel -->
      <div class="mobile-grid">
        <div class="sectie-1-img"></div>
        <div class="sectie-text">
          <h2 class="product-titel">Oorbellen</h2>
          <p class="product-beschrijving">
            Bekijk hier het ruime assortiment van exclusieve handgemaakte
            oorbellen.
          </p>
          <a class="btn" href="#">Shop nu</a>
        </div>
        <div class="sectie-text">
          <h2 class="product-titel">Baby accessoires</h2>
          <p class="product-beschrijving">
            Bekijk hier de handgemaakte baby accessoires
          </p>
          <a class="btn" href="#">Shop nu</a>
        </div>
        <div class="sectie-2-img"></div>
        <div class="sectie-3-img"></div>
        <div class="sectie-text">
          <h2 class="product-titel">Armbandjes</h2>
          <p class="product-beschrijving">
            Bekijk hier de handgemaakte armbandjes. Verkrijgbaar in twee
            verschillende maten.
          </p>
          <a class="btn" href="/oorbellen">Shop nu</a>
        </div>
      </div>
      <!-- Hier eindigt de grid layout van mobiel -->
      <!-- Begin layout Desktop -->
      <div class="layout-desktop">
        <div class="sectie-1">
          <h2>Premium <span>handgemaakte</span> accessoires</h2>
          <p class="hidden">
            Op deze site wil ik graag nieuwe handgemaakte producten met jullie
            delen. Je kan een account maken en krijg op de 1e bestelling 10%
            korting.
          </p>
          <div class="button">
            <a href="/login" class="login hidden">Login</a>
            <a href="/signup" class="registreer hidden">Registreren</a>
          </div>
        </div>
        <div class="sectie-2">
          <div class="img">
            <!-- <img src="../public/img/sectie2.png" alt="" /> -->
            <img src="../img/sectie2.png" alt="" />
            <a class="btn" href="/oorbellen">Bekijk de nieuwe collectie</a>
          </div>
        </div>
        <div class="sectie-3">
          <h3>Zoek per <span> Categorie </span></h3>
          <div class="producten">
            <img class="pijlLinks" src="../img/pijlLinks.png" alt="" />
            <div class="product">
              <h2>Oorbellen</h2>
              <div class="img">
                <img src="../img/oorbelDesk.png" alt="" />
                <a class="btn" href="/oorbellen">Shop nu</a>
              </div>
            </div>
            <div class="product hidden">
              <h2>Armbanden</h2>
              <div class="img">
                <img src="../img/armDesk.png" alt="" />
                <a class="btn" href="">Shop nu</a>
              </div>
            </div>
            <div class="product hidden">
              <h2>Baby Accessoires</h2>
              <div class="img">
                <img src="../img/leeuwDesk.png" alt="" />
                <a class="btn" href="">Shop nu</a>
              </div>
            </div>
            <div class="product hidden">
              <h2>Tassen</h2>
              <div class="img">
                <img src="../img/tasDesk.png" alt="" />
                <a class="btn" href="">Shop nu</a>
              </div>
            </div>
            <div class="product hidden">
              <h2>Wax Melts</h2>
              <div class="img">
                <img src="../img/waxDesk.png" alt="" />
                <a class="btn" href="">Shop nu</a>
              </div>
            </div>
            <img class="pijlRechts" src="../img/pijlRechts.png" alt="" />
          </div>
        </div>
      </div>
    </main>
    <%- include('../includes/footer.ejs')  %> 

