<%- include('../includes/head.ejs')  %> 
    <link rel="stylesheet" href="../css/winkelmand.css"/>
</head>
<body>
    <%- include('../includes/navbar.ejs')  %> 
    <main>
        <div class="container">
            <div class="top-box">
                <h1>Winkelmand</h1>
            </div>
            <form action="">
                <div class="top-form">
                    <div class="card">
                        <div class="left">
                            <img src="../img/NoPath - kopie (3).png" alt="">
                        </div>
                        <div class="middel">
                            <p>Groene oorbel</p>
                            <p> Vrouwen Mode</p>
                            <p>$ 5.99</p>
                        </div>
                        <div class="right">
                            <img src="../img/Group 3.png" alt="">
                            <div class="button">
                                <button type="submit" value="1">-</button>
                                <p>1</p>
                                <button type="submit" value="1">+</button>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="left">
                            <img src="../img/NoPath - kopie (3).png" alt="">
                        </div>
                        <div class="middel">
                            <p>Groene oorbel</p>
                            <p>Vrouwen Mode</p>
                            <p>$ 5.99</p>
                        </div>
                        <div class="right">
                            <img src="../img/Group 3.png" alt="">
                            <div class="button">
                                <button type="submit" value="1">-</button>
                                <p>1</p>
                                <button type="submit" value="1">+</button>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="left">
                            <img src="../img/NoPath - kopie (3).png" alt="">
                        </div>
                        <div class="middel">
                            <p>Groene oorbel</p>
                            <p>Vrouwen Mode</p>
                            <p>$ 5.99</p>
                        </div>
                        <div class="right">
                            <img src="../img/Group 3.png" alt="">
                            <div class="button">
                                <button type="submit" value="1">-</button>
                                <p>1</p>
                                <button type="submit" value="1">+</button>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="left">
                            <img src="../img/NoPath - kopie (3).png" alt="">
                        </div>
                        <div class="middel">
                            <p>Groene oorbel</p>
                            <p>Vrouwen Mode</p>
                            <p>$ 5.99</p>
                        </div>
                        <div class="right">
                            <img src="../img/Group 3.png" alt="">
                            <div class="button">
                                <button type="submit" value="1">-</button>
                                <p>1</p>
                                <button type="submit" value="1">+</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bottom-form">
                    <div class="totaal">
                        <p>Totaal:</p>
                        <p>$17,97</p>
                    </div>
                    <button type="submit">Reken af</button>
                </div>
            </form>
        </div>
    </main>
    <%- include('../includes/footer.ejs')  %> 