<%- include('../includes/head.ejs')  %> 
    <link rel="stylesheet" href="../css/contact.css" />
</head>
<body>
    <%- include('../includes/navbar.ejs')  %> 
    <main>
        <div class="title"><h2><span>C</span>ontact</h2></div>
        <div class="sectie-1">
            <h3>Hoe moet ik contact maken?</h3>
            <p>Als u contact met ons wilt kunt u ons bereiken via:</p>
            <div class="input">
                <div class="email"><p>Email:</p></div>
                <div class="email"><p>annasaccessoires@hotmail.com</p></div>
            </div>
            <div class="input">
                <div class="telefoon"><p>Telefoon:</p></div>
                <div class="telefoon"><p>0646999934</p></div>
            </div>
            <div class="input">
                <div class="facebook"><p>Facebook:</p></div>
                <div class="facebook"><p>annasaccessoires</p></div>
            </div>
        </div>
        <div class="sectie-2">
            <div class="header"><h3>Klantenservice formulier</h3></div>

            <div class="container">
                <div class="input">
                    <div class="text"><p>Volledige naam *</p></div>
                    <div><input type="text"></div>
                </div>
                <div class="input">
                    <div class="text"><p>Email *</p></div>
                    <div><input type="text"></div>
                </div>
                <div class="input">
                    <div class="text"><p>Onderwerp *</p></div>
                    <div><input type="text"></div>
                </div>
                <div class="input">
                    <div class="text"><p>Beschrijving *</p></div>
                    <div class="last">
                        <input type="text">
                        <a href="#" class="btn">Versturen</a>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <%- include('../includes/footer.ejs')  %> 