@import "variables";
@import "globals";
@import "header";

main {
    height: 87vh;
    background: url("../img//Error/404.png") no-repeat center;
    overflow: hidden;

    .text-box{
        background: $mainPink;
        color: white;
        width: 550px;
        height: 80px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 50px auto;
        border-radius: 6px;
    }
}

@import "footer";