@import "variables";
@import "globals";
@import "header";

main {
  height: 87vh;
  display: grid;
  background-color: #f8f6f6;
  .container {
    height: 100%;
    width: 100%;
    display: none;
    grid-template-columns: 12% 88%;
    grid-template-rows: 20% 80%;
    grid-template-areas:
      "left-box top-box"
      "left-box right-box";
    background-color: #f8f6f6;
    .top-box {
      grid-area: top-box;
      display: grid;
      justify-content: center;
      align-items: center;
      font-size: 10px;
    }
    .left-box {
      grid-area: left-box;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 10% 10% 10% 10% 10%;
      background-color: #ffb2c4;
      padding-top: 30px;
      max-width: 50px;
      a {
        text-decoration: none;
        display: grid;
        justify-self: center;
        align-items: center;
        .fas {
          font-size: 30px;
          color: #ffff;
        }
      }
      a p {
        display: none;
      }
    }
    .right-box {
      grid-area: right-box;
      border-radius: 6px;
      height: 500px;
      margin: 0 auto;
    }
  }
}

@media screen and (min-width: 1300px) {
  main {
    .container {
      max-width: 1300px;
      margin: 0 auto;
      display: grid;
      grid-template-columns: 1fr 2fr;
      grid-template-areas:
        "aa top-box"
        "left-box right-box";
      .left-box {
        grid-gap: 30px;
        background-color: #f8f6f6;
        padding-top: 0px;
        max-width: 100%;
        justify-self: right;
        a {
          grid-template-columns: 20% 80%;
          width: 300px;
          .fas {
            color: #000;
          }
        }
        .actieve {
          border-left: 6px solid $mainPink;
        }
        a p {
          display: block;
          margin-left: 10%;
          color: #000;
        }
        a img {
          padding: 10px;
          width: 50px;
        }
      }
      .right-box {
        .besteling-box {
          border-radius: 8px;
          background-color: #ffff;
          box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1);
          tr {
            td,th {
              border-bottom: 1px solid #ddd;
              text-align: center;
            }
            td {
              img {
                width: 100px;
                height: auto;
              }
              .btns {
                margin-right: 10px;
                button {
                  border: 1px solid $mainPink;
                  margin-top: 10px;
                }
              }
            }
            th {
              padding: 15px;
            }
            .box {
              overflow: auto;
            }
          }
        }
      }
    }
  }
}
@import "footer";
