@import "variables";
@import "globals";
@import "header";

main {
    padding: 40px 50px;

    .titel {
        text-align: center;
        margin-bottom: 30px;
        h2{
            font-weight: 400;
            font-size: 1.8rem;

            span{
                color: $mainPink
            }
        }
    }

    .sectie-2{
        h2{
            font-size: 1.3rem;
            margin-top: 20px;
            margin-bottom: 10px;
        }
    }
}

@media screen and (min-width: 900px) {

    main {
        padding: 60px 100px;
    }
}

@media screen and (min-width: 1200px) {

    main {
        max-width: 1100px;
        margin: 0 auto;
    }
}
@import "footer";